@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Zen+Dots&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.calculator__header{
    padding: 25px;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: #9D0208;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
    background-color: #FFD6A5;
    padding: 20px;
}

.calculator__title{
    color: #D1495B;
    font-size: 2rem;
    font-family: "Zen Dots", sans-serif;
}

.calculator__inputs{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.calculator__form-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.calculator__input{
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #F77F00;
}

.calculator__label{
    text-align: center;
}

.calculator__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}

.calculator__buttons button{
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    width: 200px;
    
}

.calculator__button--calculate{
    background-color: #FFB703;
    color: white;
    border: 1px solid #FFB703;
}

.calculator__button--calculate:hover{
    background-color: #F77F00;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.calculator__button--clear{
    background-color: #D62828;
    color: white;
    border: 1px solid #D62828;

}

.calculator__button--clear:hover{
    background-color: #9D0208;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.calculator__result-section{
    text-align: center;
    padding: 25px;
}


.calculator__result-title{
    color: #D62828;
    font-size: 30px;
   
}

.calculator__result-text{
    font-size: 20px;
}